@using TaskManegmentProject.DBcontcion
@model List<WorkSpace>


<div class="work-space-selected d-flex align-items-center gap-1">

	<select class="work-space-list" id="work-space-selected-list" onchange="handleWorkSpaceChange()">
		@if (Model != null && Model.Any())
		{

			foreach (var item in Model)
			{
				if (item.Id == ViewBag.SelectedWorkSpace.Id)
				{
					<option selected value="@(item.Id)">@item.Name</option>

				}
				else
				{

					<option value="@(item.Id)">@item.Name</option>

				}


			}

		}
	</select>

	<button class="" title="Add Work Space" id="add-new-task-btn" data-bs-toggle="modal" data-bs-target="#exampleModal">
		<i class="fa fa-plus"></i>
	</button>

</div>


<!-- Modal -->
<div class="modal fade"
	 id="exampleModal"
	 tabindex="-1"
	 aria-labelledby="exampleModalLabel"
	 aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<h1 class="modal-title fs-5" id="exampleModalLabel">
					Add New Work Spcase
				</h1>
				<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
			</div>
			<div class="modal-body">
				<form action="/" method="post">
					<div class="form-group">
						<label class="form-control-lable mb-3" for="work-space-name">
							Work Spcae Name
						</label>
						<input class="form-control" id="work-space-name" type="text" />
					</div>
				</form>
			</div>
			<div class="modal-footer">
				<button type="button"
						class="btn btn-primary"
						onclick="HandleWorkspaceModuleBtn()">
					Add 
				</button>
			</div>
		</div>
	</div>
</div>


<script>

		function HandleWorkspaceModuleBtn(){
			let inputValue = $("#work-space-name").val();
			console.log(inputValue);
		$.ajax({
	url: "/home/addWorkSpace",
	type: "POST",
	data: {
		workSpaceName: inputValue
	},
	success:function(response){
		if(response.success){
			
			let optionLentgh = $("#work-space-selected-list option").length +1;
			let newOption = `<option value="${optionLentgh}">${response.workSpace.name}</option>`;
				$(".work-space-list").append(newOption);
				$("#work-space-name").val("");
				$("#exampleModal").modal("hide");
		}

		}

		});


		}
		function handleWorkSpaceChange() {
		let selectedWorkSpaceId = document.getElementById("work-space-selected-list").value;

		if (selectedWorkSpaceId) {
			window.location.href = "/Home/Index?id=" + selectedWorkSpaceId;
		}
	}

</script>