

<section class="side-nav-bar false card">
	<nav>
		<div class="menue-div"><i class="fa-solid fa-arrow-right"></i></div>
		<div class="profile-div">
			<img src="~/img/avatar-images/avatar-1.jpeg"
				 alt="profile-pic">
			<p>
				@* @User.Claims.Name *@
				hassan

			</p>
		</div>
		<div class="navegate-div">
			<ul>
				<li class="active"><i class="fa-solid fa-house"></i><a href="/">My Tasks </a></li>
				<li class=""><i class="fa-solid fa-users"></i><a href="/shared">Shared </a></li>
			</ul>
		</div>
		<div class="logout-div">
			<i class="fa-solid fa-right-from-bracket"></i><a asp-action="Logout" asp-controller="Account">Logout</a>
		</div>
	</nav>
</section>
