
/**======================================
            General Styles
=========================================**/

/*#region General Styles*/

:root {
    /* Light Mode Colors (Default) */
    --white-color: #333333;
    --white-color2: #666666;
    --gray-color: #808080;
    --gray-color2: #b8bbc9;
    --black-color: #000000;
    --dark-color: #ffffff;
    --light-dark: #f5f5f5;
    --light-hover-dark: #e0e0e0;
    --green-color: #6fb069;
    --orange-color: #db755d;
    --login-bg: #f0f2f5;
    --blue-color: #1e90ff;
    --purple-color: #8a2be2;
    --red-color: #ff4757;
}

body.dark {
    /* Dark Mode Colors */
    --white-color: #fff;
    --white-color2: #b8bbc9;
    --gray-color: #333333;
    --gray-color2: #808080;
    --black-color: #333233;
    --dark-color: #19181a;
    --light-dark: #212022;
    --light-hover-dark: #2d2d37;
    --green-color: #6fb069;
    --orange-color: #ff7849;
    --login-bg: #192226;
    --blue-color: #1e90ff;
    --purple-color: #8a2be2;
    --red-color: #ff4757;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}

body {
    line-height: 1;
    overflow: hidden;
    background-color: var(--login-bg);
    transition: background-color 0.3s ease;
}

ol,
ul {
    list-style: none;
}

blockquote,
q {
    quotes: none;
}

    blockquote:before,
    blockquote:after,
    q:before,
    q:after {
        content: '';
        content: none;
    }

table {
    border-collapse: collapse;
    border-spacing: 0;
}

.btn-primary {
    color: var(--dark-color);
    background-color: var(--white-color);
    border-color: var(--dark-color);
}
    .btn-primary:hover {
        background-color: var(--dark-color);
        color: var(--white-color);
        border-color: var(--dark-color);
    }
.modal-content {
    --bs-modal-bg: var(--dark-color) !important;
    --bs-modal-color: var(--white-color) !important;
}

.form-control {
    background-color: var(--dark-color);
    color: var(--white-color);
    border-color: var(--gray-color) !important
}
    .form-control:focus {
        background-color: var(--dark-color) !important;
        color: var(--white-color) !important;
        box-shadow: none;
        border-color: var(--white-color) !important
    }


/*#endregion General Styles*/
/**======================================
            Auth Pages Styles
=========================================**/
/*#region Auth Pages*/
.card-container {
    position: relative;
    max-width: 500px;
    width: 90%;
    /*min-height: 500px;*/
    perspective: 1000px;
}

.auth-page-content {
    text-align: center;
    position: relative;
    backface-visibility: visible;
}

.all-auth {
    width: 100%;
    height: 100%;
}

.auth-page-card.email-auth {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: var(--dark-color);
    gap: 1rem;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    z-index: -1;
}

.all-auth {
    transform: rotateY(0deg);
    z-index: 1;
    transition: all 1s ease;
}

.email-auth {
    transform: rotateY(180deg);
    z-index: 0;
    transition: all 1s ease;
}

.card-container.animate .all-auth {
    transform: rotateY(-180deg);
    z-index: 0;
}

.card-container.animate .email-auth {
    transform: rotateY(0deg);
    z-index: 1;
}

.auth-page-content h3 {
    font-size: 1.5rem;
    line-height: 1.6;
    letter-spacing: 1px;
    font-weight: 500;
    margin-bottom: 1rem;
}

    .auth-page-content h3 span {
        color: var(--orange-color);
    }

.auth-page-content p {
    font-size: 1rem;
    line-height: 1.6;
    letter-spacing: 1px;
    font-weight: 700;
    margin-bottom: 1rem;
    color: var(--gray-color2);
}

.auth-page-content .close-btn {
    position: absolute;
    top: 0;
    left: 0;
    margin: 0.5rem;
    border: 1px solid var(--white-color);
    border-radius: 50%;
    cursor: pointer;
    width: 40px;
    height: 40px;
    display: flex;
}

    .auth-page-content .close-btn img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

.email-auth form label {
    text-align: left !important;
    display: block !important;
    padding-bottom: 0.8rem;
    color: var(--white-color);
}

.email-auth form input {
    background-color: var(--gray-color2) !important;
    color: var(--white-color) !important;
    border: none !important;
    border-radius: 5px !important;
    padding: 0.5rem !important;
}

    .email-auth form input::placeholder {
        color: var(--white-color2);
        padding-inline-start: 0.5rem;
    }

    .email-auth form input:focus {
        box-shadow: 0px 0px 0px 2px var(--white-color);
    }

.email-auth form .submit-btn {
    padding: 0.5rem 2rem !important;
}

    .email-auth form .submit-btn:hover {
        background-color: var(--orange-color) !important;
        color: var(--white-color) !important;
    }

.auth-page-container {
    width: 100vw;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--login-bg);
    background-size: cover;
    background-position: center;
    font-family: 'Courier New', Courier, monospace !important;
    position: relative;
}

.shapes {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.shap1 {
    width: 200px;
    height: 200px;
    position: absolute;
    top: 30%;
    left: 10%;
    border-radius: 50%;
    background-color: var(--orange-color);
    animation: moveAround1 2s alternate infinite;
}

.shap2 {
    width: 150px;
    height: 150px;
    position: absolute;
    top: 60%;
    left: 70%;
    border-radius: 25%;
    background-color: var(--green-color);
    animation: moveAround2 2s alternate infinite;
}

.shap3 {
    width: 100px;
    height: 100px;
    position: absolute;
    top: 20%;
    left: 80%;
    border-radius: 50%;
    background-color: var(--blue-color);
    animation: moveAround1 2s alternate infinite;
}

.shap4 {
    width: 180px;
    height: 180px;
    position: absolute;
    top: 75%;
    left: 25%;
    border-radius: 0;
    transform: rotate(45deg);
    background-color: var(--purple-color);
    animation: moveAround2 2s alternate infinite;
}

.shap5 {
    width: 120px;
    height: 120px;
    position: absolute;
    top: 10%;
    left: 40%;
    border-radius: 50% 20% 50% 20%;
    background-color: var(--red-color);
    animation: moveAround1 2s alternate infinite;
}

[class^="shap"] {
    opacity: 0.7;
    transition: all 0.3s ease;
}

/*   [class^="shap"]:hover {
        opacity: 1;
        transform: scale(1.1);
    }*/

@keyframes moveAround1 {
    from {
        transform: translate(0, 0);
    }

    to {
        transform: translate(50px, 30px);
    }
}

@keyframes moveAround2 {
    from {
        transform: translate(0, 0);
    }

    to {
        transform: translate(-50px, -30px);
    }
}

.auth-page-container .auth-page-card {
    background-color: var(--dark-color);
    padding: 3rem;
    max-width: 700px;
    margin: 0 auto;
    border-radius: 10px;
    color: var(--white-color);
    gap: 1rem;
    box-shadow: 0 0 0 30px var(--light-hover-dark);
}

.auth-page-container .logo {
    width: 30px;
    margin: 0 auto;
}

.auth-page-container h4 {
    color: var(--white-color) !important;
    font-size: 1.3rem;
}

.auth-page-container p {
    font-size: 0.9rem;
    margin: 0 auto;
}

.auth-page-container .btn-auth {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 1px solid var(--gray-color);
    padding: 1rem 3rem;
    margin: 1rem 0;
    border-radius: 15px;
    background-color: var(--light-hover-dark);
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}

    .auth-page-container .btn-auth h4 {
        font-size: 1rem;
    }

    .auth-page-container .btn-auth img {
        width: 30px;
    }

    .auth-page-container .btn-auth:hover {
        background-color: var(--white-color);
    }

        .auth-page-container .btn-auth:hover h4 {
            color: var(--dark-color) !important;
        }

.auth-page-container .go-to-link {
    color: var(--blue-color) !important;
}


/*#endregion Auth Pages*/

/**======================================
            Home Pages Styles
=========================================**/

/*#region Home Page*/

.main-section {
    width: 100vw;
    height: 100vh;
    background-color: var(--dark-color);
    color: var(--white-color);
    display: flex;
    gap: 1rem;
    padding: 1rem;
    overflow-y: auto;
}


/*#region Side Bar Style */
.side-nav-bar {
    display: flex;
    flex-basis: 200px;
    /*height: 100vh;*/
    background-color: var(--light-dark) !important;
    border: 1px solid var(--gray-color) !important;
}

    .side-nav-bar .menue-div {
        display: none;
    }

    .side-nav-bar nav {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        padding: 1rem 0 2rem;
        height: 100%;
    }

    .side-nav-bar .profile-div {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        gap: 1rem;
        padding: 1rem 1.5rem;
        border-radius: 10px;
        width: 100%;
        border: 1px solid transparent;
        transition: all .3s ease-in-out;
        cursor: pointer;
    }

        .side-nav-bar .profile-div:hover {
            border: 1px solid var(--light-hover-dark);
            background-color: var(--light-hover-dark);
        }

        .side-nav-bar .profile-div img {
            width: 50px;
            border-radius: 50%;
            object-fit: cover;
        }

        .side-nav-bar .profile-div p {
            font-size: 1.1rem;
            font-weight: 600;
            color: var(--white-color);
            text-transform: capitalize;
        }

    .side-nav-bar .navegate-div {
        width: 100%;
    }

        .side-nav-bar .navegate-div ul {
            width: 100%;
            padding: 0;
        }

            .side-nav-bar .navegate-div ul li {
                width: 100%;
                padding: .5rem 2rem;
                border: 3px solid transparent;
                color: var(--white-color);
                font-size: .8rem;
                transition: all .3s ease-in-out;
            }

                .side-nav-bar .navegate-div ul li:hover {
                    background-color: var(--light-hover-dark);
                }

                .side-nav-bar .navegate-div ul li.active {
                    background-color: var(--light-hover-dark);
                    border-right-color: var(--green-color);
                }

                .side-nav-bar .navegate-div ul li a {
                    padding-left: 1rem;
                    color: var(--white-color);
                    text-decoration: none;
                    text-transform: capitalize;
                }

    .side-nav-bar .logout-div {
        color: var(--white-color);
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 1rem;
        font-size: .8rem;
        border-radius: 10px;
        width: 100%;
        border: 1px solid transparent;
        transition: all .3s ease-in-out;
    }

        .side-nav-bar .logout-div a {
            color: var(--white-color);
            text-decoration: none;
            text-transform: capitalize;
            font-size: 1.1rem;
        }
/*#endregion Side Bar Style */


/* #region Task Style */
.task-section {
    flex: 1;
    background-color: var(--light-dark) !important;
    border: 1px solid var(--gray-color) !important;
    padding: .5rem;
}

.task-section-content {
    overflow: auto;
}

    .task-section-content::-webkit-scrollbar {
        width: 10px;
        z-index: -1;
    }

    .task-section-content::-webkit-scrollbar-thumb {
        background-color: var(--dark-color);
        border-radius: 10px;
    }

.task-section .task-section-header {
    background-color: var(--light-dark);
}

.task-section .task-section-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.5rem 1rem;
    border-radius: 10px;
    width: 100%;
    border: 1px solid transparent;
    transition: all .3s ease-in-out;
    color: var(--white-color);
}


    .task-section .task-section-header .work-space-selected .work-space-list {
        padding: 0.3rem 1.5rem;
        color: var(--white-color);
        background-color: var(--dark-color);
        border-color: var(--gray-color);
    }



    .task-section .task-section-header
    .work-space-list option {
        background-color: var(--black-color) !important;
        color: var(--white-color2);
    }


    .task-section .task-section-header h4 {
        font-weight: bold;
        font-size: 1.2rem;
    }

        .task-section .task-section-header h4::after {
            content: " ";
            width: 50%;
            display: block;
            height: 2px;
            border-radius: 10px;
            background-color: var(--white-color);
            margin: .5rem 0 0 0;
        }

.task-section .header-controls {
    display: flex;
    gap: 1rem;
}

.task-section .task-section-header button {
    border: 0;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    background-color: var(--light-dark);
    color: var(--white-color2);
    font-size: .7rem;
    cursor: pointer;
    border: 1px solid var(--gray-color);
    transition: all .3s ease-in-out;
    display: flex;
    justify-content: center;
    align-items: center;
}
.task-section .task-section-header a {
    border: 0;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    background-color: var(--light-dark);
    color: var(--white-color2);
    font-size: .7rem;
    cursor: pointer;
    border: 1px solid var(--gray-color);
    transition: all .3s ease-in-out;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration:none;
}

    .task-section .task-section-header button:hover {
        background-color: var(--light-hover-dark);
    }
.task-section .task-section-header a:hover {
    background-color: var(--light-hover-dark);
}
/* #endregion Task Style */

/*#region User Plus Popup*/
.task-section .header-controls .memebers-plus, .task-section .header-controls .notification-bell {
    position: relative;
}

    .task-section .header-controls .memebers-plus .user-plus-popup,
    .task-section .header-controls .notification-bell .notification-bell-popup {
        position: absolute;
        top: 40px;
        right: 0;
        z-index: 999;
        background-color: var(--light-dark);
        border: 1px solid var(--gray-color);
        padding: 1rem;
        border-radius: 10px;
        min-width: 300px;
        text-align: left;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
        display: none;
        font-size: 0.9rem;
    }

    .task-section .header-controls .notification-bell .notification-bell-popup {
        min-width: 400px;
        
    }

        .task-section .header-controls .memebers-plus .user-plus-popup.active, .task-section .header-controls .notification-bell .notification-bell-popup.active {
            display: block;
        }

    .task-section .header-controls .memebers-plus .user-plus-popup input {
        border: 1px solid var(--gray-color);
        border-radius: 5px;
        padding: 0.5rem;
        color: var(--white-color2);
        background-color: var(--light-dark);
        font-size: 0.8rem;
        margin-bottom: 1rem;
    }



        .task-section .header-controls .memebers-plus .user-plus-popup input::placeholder {
            color: var(--white-color2);
        }

        .task-section .header-controls .memebers-plus .user-plus-popup input:focus {
            border: 1px solid var(--light-hover-dark);
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
        }





    .task-section .header-controls .memebers-plus .user-plus-popup .add-btn button,
    .task-section .header-controls .memebers-plus .user-plus-popup .add-btn input
    {
        width: 100%;
        border: 0;
        border-radius: 5px;
        background-color: var(--green-color);
        color: var(--white-color);
        font-size: .9rem;
        cursor: pointer;
        border: 1px solid var(--gray-color);
        transition: all .3s ease-in-out;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 1rem 1rem;
    }

        .task-section .header-controls .memebers-plus .user-plus-popup .add-btn button:hover {
            background-color: rgb(111, 200, 105);
        }


    .task-section .header-controls .memebers-plus .user-plus-popup .user-plus-popup-menue-list .user-plus-popup-menue-list-box {
        display: flex;
        gap: 1rem;
        align-items: center;
        padding: 0.5rem 0.3rem;
        border-radius: 5px;
        cursor: pointer;
        transition: all .3s ease-in-out;
    }

        .task-section .header-controls .memebers-plus .user-plus-popup .user-plus-popup-menue-list .user-plus-popup-menue-list-box:hover {
            background-color: var(--light-hover-dark);
        }

        .task-section .header-controls .memebers-plus .user-plus-popup .user-plus-popup-menue-list .user-plus-popup-menue-list-box img {
            width: 40px;
            height: 40px;
            border-radius: 50%;
            object-fit: cover;
        }

        .task-section .header-controls .memebers-plus .user-plus-popup .user-plus-popup-menue-list .user-plus-popup-menue-list-box p {
            flex: 1;
            padding: 0;
            margin: 0;
        }


    /*#endregion User Plus Popup*/

    /* #region Notifcation Bell */
    .task-section .header-controls .notification-bell .notification-bell-popup .notifications-box {
        max-height: 300px;
        overflow-y: auto;
    }
        .task-section .header-controls .notification-bell .notification-bell-popup .notifications-box .notifications-box-item {
        display: flex;
        border-bottom: 1px solid var(--gray-color);
        cursor: pointer;
        margin:0.5rem 0;
        padding: 1rem ;
    }

        .task-section .header-controls .notification-bell .notification-bell-popup .notifications-box .notifications-box-item:last-child {
            border-bottom: 0
        }

        .task-section .header-controls .notification-bell .notification-bell-popup .notifications-box .notifications-box-item span {
            color: var(--gray-color2);
            font-size: .7rem;
            margin-right: 1rem;
        }


        .task-section .header-controls .notification-bell .notification-bell-popup .notifications-box .notifications-box-item img {
            width: 40px;
            height: 40px;
            border-radius: 50%;
            object-fit: cover;
            margin-right: 1rem;
        }


        .task-section .header-controls .notification-bell .notification-bell-popup .notifications-box .notifications-box-item .notifications-box-item-info {
            font-size: 0.6rem;
            color: var(--white-color2);
            flex: 1;
        }

            .task-section .header-controls .notification-bell .notification-bell-popup .notifications-box .notifications-box-item:hover {
                background-color:var(--dark-color);
            }
            .task-section .header-controls .notification-bell .notification-bell-popup .notifications-box .notifications-box-item .notifications-box-item-info h5 {
                font-size: 1rem;
                font-weight: bold;
                color: var(--white-color);
            }
            .task-section .header-controls .notification-bell .notification-bell-popup .notifications-box .notifications-box-item .notifications-box-item-info p {
                font-size: 0.8rem;
                font-weight:bold;
                padding:0.2rem 0 0 0 ;
            }
/* #endregion Notifcation Bell */

/* #region Task Header Module */

.task-add-module .modal-content {
    border-radius: 10px;
    background-color: var(--black-color);
    color: var(--white-color2);
    padding: 1rem;
}

    .task-add-module .modal-content h4 {
        font-size: 1.3rem;
        padding-bottom: 2rem;
        font-weight: bold;
    }

    .task-add-module .modal-content form :where(input, textarea) {
        border: 1px solid var(--gray-color);
        border-radius: 5px;
        padding: 0.5rem;
        color: var(--white-color2);
        background-color: var(--light-dark);
        font-size: 0.8rem;
        margin-bottom: 1rem;
    }

        .task-add-module .modal-content form :where(input, textarea)::placeholder {
            color: var(--white-color2);
        }

        .task-add-module .modal-content form :where(input, textarea):focus {
            border: 1px solid var(--light-hover-dark);
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
        }

    .task-add-module .modal-content form .btn-controlles {
        display: flex;
        justify-content: end;
        gap: 1rem;
    }

        .task-add-module .modal-content form .btn-controlles button {
            padding: 0.6rem 2rem;
            border-radius: 10px;
            background-color: var(--green-color);
            color: var(--white-color);
            font-size: .8rem;
            font-weight: bold;
            cursor: pointer;
            border: 1px solid var(--gray-color);
            transition: all .3s ease-in-out;
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 0.5rem;
            transition: all 0.5s ease;
        }

            .task-add-module .modal-content form .btn-controlles button:hover {
                background-color: rgb(111, 200, 105);
            }

/* #endregion Task Header Module */

/* #region Task Content  */
.task-section .task-section-content {
    padding: 0 1rem;
}

    .task-section .task-section-content .task-card {
        background-color: var(--dark-color);
        color: var(--white-color);
        padding: 1rem;
        border-radius: 10px;
        min-height: 180px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }




        .task-section .task-section-content .task-card .task-card-content-container h3 {
            font-size: .8rem;
            font-weight: bold;
            padding: 0 0 0.8rem 0;
            text-transform: capitalize
        }

        .task-section .task-section-content .task-card .task-card-content-container p {
            font-size: .7rem;
            line-height: 1.5;
        }

        .task-section .task-section-content .task-card .task-card-container h6 {
            font-size: .8rem;
            padding: 0 0.3rem 0.5rem
        }


        .task-section .task-section-content .task-card .task-card-footer {
            display: flex;
            justify-content: space-between;
            align-items: center;
        }

            .task-section .task-section-content .task-card .task-card-footer .state-btn {
                color: var(--white-color);
                padding: 0.3rem 1rem;
                border-radius: 50px;
                transition: all .3s ease-in-out;
                cursor: pointer;
                font-weight: bold;
                font-size: .8rem;
            }

                .task-section .task-section-content .task-card .task-card-footer .state-btn.success {
                    background-color: var(--green-color);
                }

                .task-section .task-section-content .task-card .task-card-footer .state-btn.danger {
                    background-color: var(--orange-color);
                }

            .task-section .task-section-content .task-card .task-card-footer .control-buttons {
                display: flex;
                gap: 1rem;
                font-size: .8rem;
            }

                .task-section .task-section-content .task-card .task-card-footer .control-buttons button {
                    border: 0;
                    border-radius: 50%;
                    background-color: transparent;
                    color: var(--white-color2);
                    font-size: .8rem;
                    cursor: pointer;
                    transition: all .3s ease-in-out;
                }

                    .task-section .task-section-content .task-card .task-card-footer .control-buttons button:hover {
                        color: var(--green-color);
                    }

                    .task-section .task-section-content .task-card .task-card-footer .control-buttons button.edit {
                        background-color: var(--green-color);
                    }

    .task-section .task-section-content .task-add-button {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        font-size: .9rem;
        width: 100%;
        height: 100%;
    }

        .task-section .task-section-content .task-add-button:hover {
            background-color: var(--light-hover-dark);
        }

        .task-section .task-section-content .task-add-button i {
            padding-right: 1rem;
        }


    .task-section .task-section-content .task-card .task-card-footer .control-buttons .task-card-content-members {
        display: flex;
        gap: 1rem;
        font-size: .8rem;
        position: relative;
        cursor: pointer;
    }

        .task-section .task-section-content .task-card .task-card-footer .control-buttons .task-card-content-members img {
            width: 30px;
            height: 30px;
            border-radius: 50%;
            object-fit: cover;
            position: relative;
        }

        .task-section .task-section-content .task-card .task-card-footer .control-buttons .task-card-content-members .member-count {
            position: absolute;
            right: 10px;
            bottom: 0;
            background-color: var(--dark-color);
            color: var(--white-color);
            border: 1px solid var(--green-color);
            display: flex;
            justify-content: center;
            align-items: center;
            font-size: .5rem;
            font-weight: bold;
            width: 30px;
            height: 30px;
            border-radius: 50%;
        }

        .task-section .task-section-content .task-card .task-card-footer .control-buttons .task-card-content-members .display-members {
            position: absolute;
            top: 50px;
            right: -70px;
            background-color: var(--black-color);
            padding: 0.5rem 0.4rem;
            color: var(--white-color);
            overflow: hidden;
            border-radius: 10px;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
            z-index: 100;
            width: 200px;
            display: none;
        }

.shared-tasks-section .task-section-content .task-card .task-card-footer .control-buttons .task-card-content-members .display-members {
    right: 0;
}


.task-section .task-section-content .task-card .task-card-footer .control-buttons .task-card-content-members .display-members.active {
    display: block;
}

.task-section .task-section-content .task-card .task-card-footer .control-buttons .task-card-content-members .display-members ul {
    display: flex;
    flex-flow: column wrap;
    padding: 0;
    margin: 0;
}

    .task-section .task-section-content .task-card .task-card-footer .control-buttons .task-card-content-members .display-members ul li {
        display: flex;
        align-items: center;
        gap: 1rem;
        padding: 0.5rem 0;
    }

        .task-section .task-section-content .task-card .task-card-footer .control-buttons .task-card-content-members .display-members ul li p {
            padding: 0;
            margin: 0;
        }


/* #endregion Task Content  */



/*#endregion Home Page*/

/**======================================
            Add Page
=========================================**/

/*#region task-page*/
.task-page{
    padding:2rem 0 0 0;
}
    .task-page h2{
        font-size:1.5rem;
        letter-spacing:3px;
        font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        text-transform:uppercase;
    }
    .task-page h2,
    .task-page form label {
        color: var(--white-color);
    }

    .task-page form {
        padding-top:2rem ;
    }

        .task-page form input,
        .task-page form textarea,
        .task-page form select,
        .task-page form .dropdown button{
            background-color: var(--black-color) !important;
            color: var(--white-color) !important;
            border: 1px solid var(--gray-color2) !important;
            border-radius: 5px !important;
            padding: 0.5rem !important;
        }
            .task-page form select:focus,
            .task-page form .dropdown button:focus {
                box-shadow: none;
                border-color: var(--white-color);
            }

/*#endregion task-page*/
/**======================================
            Media Ouery Mode 
=========================================**/
/*#region Media Query */
/* Media Query */
@media only screen and (max-width: 750px) {
    .side-nav-bar {
        height: 97vh !important;
        position: fixed !important;
        z-index: 1000;
        top: 10px;
        left: 10px;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
        width: 200px;
        transform: translateX(-210px);
        transition: all .5s ease-in-out;
    }

        .side-nav-bar .menue-div {
            display: block;
            position: absolute;
            background-color: aliceblue;
            top: 30px;
            right: -32px;
            background-color: var(--light-dark);
            padding: .5rem .5rem;
            border: 1px solid transparent;
            border-radius: 0px 5px 5px 0px;
            border-top-color: var(--gray-color);
            border-right-color: var(--gray-color);
            border-bottom-color: var(--gray-color);
            cursor: pointer;
            color: var(--black-color);
            transition: all .5s ease-in-out;
        }

            .side-nav-bar .menue-div i {
                transition: all .5s ease-in-out;
            }

        .side-nav-bar.active {
            transform: translateX(0px);
        }

            .side-nav-bar.active .menue-div i {
                transform: rotate(180deg);
            }
}

@media only screen and (max-width: 600px) {
    .task-section .header-controls .memebers-plus {
        position: static;
    }

        .task-section .header-controls .memebers-plus .user-plus-popup {
            top: 70px;
            width: 100%;
        }
}

/*#endregion Media Query */

/**======================================
            Dark Light Mode 
=========================================**/

/*#region Dark / Light Mode*/
.mode-toggle {
    position: absolute;
    top: 20px;
    right: 20px;
    display: flex;
    gap: 10px;
    z-index: 999;
}

.mode-toggle-home {
    /* position: relative;
    top: 20px;
    right: 20px;
    display: flex;
    gap: 10px;
    z-index: 999;*/
}

.mode-btn {
    border: none;
    background-color: transparent;
    cursor: pointer;
    transition: all 0.3s ease;
    font-size: 1rem;
}

#btn-mode img {
    width: 50px;
    transition: all 0.3s ease;
}

.mode-toggle-home #btn-mode img {
    width: 30px;
}
/*#endregion Dark / Light Mode*/



